AZURE_OPENAI_ENDPOINT_CODE_GENERATOR = 12345
AZURE_OPENAI_API_KEY_CODE_GENERATOR =
AZURE_OPENAI_DEPLOYMENT_ID_CODE_GENERATOR =
AZURE_OPENAI_API_VERSION_CODE_GENERATOR =

AZURE_OPENAI_ENDPOINT_DOCUMENTATION_PARSER = 12345
AZURE_OPENAI_API_KEY_DOCUMENTATION_PARSER =
AZURE_OPENAI_DEPLOYMENT_ID_DOCUMENTATION_PARSER =
AZURE_OPENAI_API_VERSION_DOCUMENTATION_PARSER =

AZURE_OPENAI_ENDPOINT_FEEDBACK_AGENT = 12345
AZURE_OPENAI_API_KEY_FEEDBACK_AGENT =
AZURE_OPENAI_DEPLOYMENT_ID_FEEDBACK_AGENT =
AZURE_OPENAI_API_VERSION_FEEDBACK_AGENT =


baseUrl = https://api.groq.com/openai/v1
apiKey =
modelName = llama-3.3-70b-versatile